.theme-head{
    margin-top: 20px;
    font-size: 15px;
}
.color-margin{
    margin-left: 88%;
    cursor: pointer;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50%;
}
.colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.cssSkin{
    background-color: #ff9a3c;
}
.cssSkin2{
    background-color: #8ed2c9;
}
.cssSkin3{
    background-color: #e61037;
}
.cssSkin4{
    background-color: #1854b4;
}
.cssSkin5{
    background-color: #f021b2;
}
.cssSkin6{
    background-color: #21a7f0;
}

